html {
  width: 100%;
}
html body {
  background: linear-gradient(90deg, #ffd8d8, #cdcdff, #b1ffb1);
  color: #262626;
  text-shadow: 5px 5px 5px #404040;
  padding: 15px;
}
html body #mainList {
  text-align: center;
  text-shadow: 1px 1px 0px #1a1a1a;
  background: linear-gradient(90deg, red, blue, green);
  color: whitesmoke;
  border: 2.5px solid #1a1a1a;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 10px 10px 5px black;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}
html body #mainList table {
  margin: 25px auto;
  width: 80%;
  border-collapse: collapse;
}
html body #mainList table tr th,
html body #mainList table tr td {
  padding: 2px;
}
html body #mainList table tr th:nth-child(2),
html body #mainList table tr td:nth-child(2) {
  width: 100px;
}
html body #mainList table tr th:nth-child(2) button,
html body #mainList table tr td:nth-child(2) button {
  background: none;
  border: none;
  color: red;
  font-size: larger;
}
html body #mainList table tr:first-child {
  background-color: black;
  color: whitesmoke;
}
html body #mainList table tr:not(:first-child) {
  background-color: whitesmoke;
  color: #404040;
}
html body #mainList table tr:not(:first-child):nth-child(2n+1) {
  background-color: #dcdcdc;
}
html body #mainList table tr:not(:first-child):hover {
  background-color: #767676;
  color: #dcdcdc;
}
html body #mainList .form {
  display: inline-block;
}
html body #mainList .form input {
  width: 300px;
  height: 40px;
  font-size: 25px;
}
html body #mainList .form button {
  width: 100px;
  height: 40px;
  background-color: #262626;
  color: whitesmoke;
  text-shadow: 1px 1px 1px darkred;
  font-weight: bold;
  font-size: 25px;
  border: 3px outset black;
  transition: 0.15s;
}
html body #mainList .form button:hover {
  background-color: #cfcfcf;
  color: black;
  text-shadow: 1px 1px 1px tomato;
  transition: 0.15s;
}
html body #mainList .form button:active {
  background-color: #b5b5b5;
  border: 3px inset black;
}
html body #mainList #addInfo {
  background: linear-gradient(90deg, tomato, lightblue, lightgreen);
  color: black;
  padding: 10px;
  font-size: smaller;
  border-radius: 10px;
}
